{% include "base.html" %}

<h1>My TODO List</h1>

{% block content %}

    <form method="POST" action="/">
        {% csrf_token %}
        {{ form.title }}
        <input type="submit" name="Create Task!">
    </form>

    <div>
        {% for task in tasks %}
        <div class="task-container">
            <div class="buttons">
                <a class="update-btn" href="{% url 'update_task' task.id %}">Update</a>
                <a class="delete-btn"href="{% url 'delete' task.id %}">Delete</a>
            </div>
            {% if task.complete == True %}
            <div class="task-list">
                <ul>
                    <li class="tasks"><div class="strike">{{ task }}</div></li>
            {%else%}
                    <li class="tasks">{{ task }}</li>
                </ul>
            {%endif%}
            </div>
            <hr>   
        </div>
        {% endfor %} 
      
    </div>

{% endblock content %}


</body>
</html>