{% include "base.html" %}



{% block content %}

    <form method="POST" action="/">
        {% csrf_token %}
        {{ form.title }}
        <input type="submit" name="Create Task!" value="Submit!">
    </form>

    <div class="task-container">
        <h1>Your List...</h1>
        {% for task in tasks %}
        <div class="single-task">
            <div class="buttons">
                <a class="update-btn" href="{% url 'update_task' task.id %}">Update</a>
                <a class="delete-btn"href="{% url 'delete' task.id %}">Delete</a>
            </div>
            {% if task.complete == True %}
                <ul class="task-list">
                    <li class="tasks strike">{{ task }}</li>
                    <hr>
            {%else%}
                    <li class="tasks">{{ task }}</li>
                    <hr>
                </ul>
            {%endif%}      
        </div>
        {% endfor %} 
    </div>

{% endblock content %}